.footer-wrapper {
    width: 100vw;
    height: 15px;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(212, 189, 158);
}